.main-footer {
    background-color: #830709;
    color: white;
    padding: 20px;
}

.links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.link {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.map {
    text-align: center;
    margin-bottom: 20px;
}

.general-information {
    text-align: center;
    margin-bottom: 20px;
}

.subtitle {
    font-weight: bold;
}

.authors {
    text-align: center;
}

@media (max-width: 600px) {
    .links {
        flex-wrap: wrap;
    }
    .link {
        margin: 5px;
    }
}